*, *::before, *::after {
  box-sizing: border-box;
  flex: none;
  text-transform: none !important;
}
.reveal {
  font-size: 32px;
}
.reveal h1 {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.reveal h2 {
  font-size: 1em;
  text-align: start;
  margin-bottom: .5em;
}
.reveal h2.next {
  margin-top: .5em;
  margin-bottom: 0;
  text-align: right;
}
.reveal h2.next::before {
  content: 'next » ';
  color: #fe0;
}
.reveal section img {
  border-color: transparent;
  margin: 0;
  width: 100%;
  max-height: 100%;
}
.reveal table td {
  padding: .125em .25em;
}

.d2h-file-header,
.d2h-diff-tbody > tr:first-child {
  display: none;
}
.d2h-diff-tbody > tr > td {
  border-bottom: none;
}
.d2h-file-wrapper {
  margin: 0;
  border-radius: 0;
  border: none;
}
.d2h-diff-table {
  font-size: 16px;
}
.d2h-code-linenumber {
  position: static;
  display: flex;
  width: auto;
}
.line-num1,
.line-num2 {
  width: auto;
  padding: 0 .25em;
  width: 2em;
  text-align: right;
}
.d2h-code-line {
  padding: 0;
}

.code {
  flex: auto;
  display: flex;
}
.code > code {
  margin: 0 .5em 0 0;
  width: 66%;
  color: #333;
  background-color: white;
}

.code > code ::selection {
  color: black;
}

.code > code,
.code > .frames {
  height: 560px;
  max-height: none;
  overflow: auto;
}

.code > iframe {
  height: 280px;
  width: 17%;
  transform-origin: 0 0;
  transform: scale(2);
}

.code > .frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  transform-origin: 0 0;
  transform: scale(2);
}

.arrow-down {
  height: 1.2em;
  font-size: .5em;
  display: flex;
  align-items: center;
}
.arrow-down::before {
  content: '↓↓↓';
}

.frames > iframe {
  background-color: white;
  height: calc(140px - .3em);
}

iframe {
  border: none;
}
